/******************************************************************************
  Reset CSS (http://meyerweb.com/eric/tools/css/reset/)
******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#header-container {
    background-color: #003366;
    padding: 10px;
    height: 73px;
}

#navbar-container {
    margin-bottom: 30px;
    padding: 1px 0 1px 0;
    padding-right: 15px;
    border-bottom: 1px solid #CCCCCC;
    background: #FFFFFF url('../../css/img/bgi.jpg%3Fb73cc9bca2df') repeat-x;
    height: 25px;
}
#navbar ul {
    height: 25px;
    float: right;
    width: auto;
    /* trac */
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 14px;
}
#navbar ul li {
    display: inline;
    /* trac */
    margin: 0;
    padding: 0;
}
#navbar ul li a {
    color: #333333;
    text-shadow: 1px 1px 1px #AAAAAA;
    float: left;
    display: block;
    height: 14px;
    padding: 4px 12px 5px 12px;
    margin: 0 8px;
    /* trac */
    border-bottom: none;
}
#navbar ul li a:hover { /* trac */
    text-decoration: underline;
    background: none;
}
#navbar ul li.nav-current-path a {
    background: white;
}
#navbar #nav-home-link a {
    font-family: Verdana, sans-serif;
    width: 30px;
    margin-right: 15px;
    background: transparent url('../../css/img/home22-gray.png%3Fb73cc9bca2df') no-repeat 30px 1px;
}
#navbar #nav-home-link a.nav-current {
    background-image: url('../../css/img/home22.png%3Fb73cc9bca2df');
}
#navbar #nav-home-link a:hover {
    text-decoration: none;
}
#navbar #nav-home-link a:hover {
    background-image: url('../../css/img/home22.png%3Fb73cc9bca2df');
}

/* trac also needs the external links, that's why we keep them here */
a.external:link,
a.external:visited,
a.external:active,
li.external a:link,
li.external a:visited,
li.external a:active {
    background: transparent url('../../css/img/extlink.gif%3Fb73cc9bca2df') 100% 50% no-repeat;
    padding-right: 10px;
    margin-right: 1px;
}
#navbar a.external:hover,
#navbar li.external a:hover {
    background: transparent url('../../css/img/extlink.gif%3Fb73cc9bca2df') 100% 50% no-repeat !important;
}

/******************************************************************************
  Crossbrowser Fixes
******************************************************************************/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
/* End hide from IE-mac */

/******************************************************************************
  Elements
******************************************************************************/

html {
    font-family: Verdana, sans-serif;
    font-size: 100%;
}

body {
    /* font-family: 'Jura', Verdana, sans-serif; */
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: #333;
}

h1 {
    font-family: "Georgia", Times, serif;
    /*font-family: 'Radley', serif;*/
    font-size: 30px;
    color: #003366;
    margin-bottom: 10px;
    line-height: 1.1em;
    font-weight: normal;
    min-width: 320px;
    max-width: 640px;
}

h2 {
    font-family: "Georgia", Times, serif;
/*    font-family: 'Architects Daughter', cursive;
    font-family: 'Radley', serif;*/
    font-weight: normal;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #CCCCCC;
}

h3 {
    font-family: "Georgia", Times, serif;
/*    font-family: 'Architects Daughter', cursive;
    font-family: 'Radley', serif;*/
    font-weight: normal;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #0052A3;
}
a:hover {
    text-decoration: underline;
}

p, ul, dl {
    margin-bottom: 15px;
}
li p {
    margin-bottom: 0;
}

ul {
    list-style-type: circle;
    margin-left: 30px;
}

dd {
    margin-left: 25px;
}

pre {
    font-size: 13px;
    padding: 5px 8px;
    font-family: monospace;
    margin: 0 0 15px 0;
    background-color: #FCFCFC;
    border: 1px dotted #CCCCCC;
    display: block;
    line-height: 1.5em;
}

hr {
    height: 1px;
    border: none;
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 15px;
}

.margin-bottom {
    margin-bottom: 15px !important;
}

/******************************************************************************
  Layout
******************************************************************************/

#headline-container {
    min-height: 100px;
}

#main-container {
    margin: 20px;
    line-height: 1.5em;
}

#metabar-top {
    background: #FFFFFF url('../../css/img/bgi.jpg%3Fb73cc9bca2df') repeat-x;
    height: 27px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

#metabar-container {
    margin: 20px;
}
#metabar {
    line-height: 1.5em;
}
#metabar h2 {
    margin-top: 0;
}

#footer-container {
    font-size: 12px;
    background-color: #003366;
    color: #DDDDDD;
    padding: 20px;
    text-shadow: 1px 1px 1px black;
}
/*#footer #kde-logo {
    float: right;
}*/
#footer p {
    margin-bottom: 0;
}
#footer ul {
    margin: 0 0 15px 0;
}
#footer ul li {
    display: inline;
    margin-right: 15px;
    line-height: 20px;
}
#footer a {
    color: #DDDDDD;
    padding-bottom: 2px;
    text-decoration: none;
}
#footer a:hover {
    color: white;
    text-decoration: none;
}
#footer a.external:link,
#footer a.external:visited,
#footer a.external:active {
    background: transparent url('../../css/img/extlink-white.gif%3Fb73cc9bca2df') 100% 50% no-repeat;
}

#header,
#navbar,
#content,
#headline,
#sidebar,
#main,
#metabar,
#footer {
    margin: 0px auto;
    max-width: 1000px;
}
/* Visual fixes for maximized high resolutions */
#header {
    max-width: 1020px; /* Logo has a padding-left */
}
#navbar {
    max-width: 1030px; /* Should be in line with the horizontal rules */
}

small, .small {
    font-size: 12px;
}

.important {
    color: #8B0000;
}
#content p.important {
    margin-bottom: 0;
}
span.normal {
    color: #333333;
}

.shadow {
    -moz-box-shadow: 4px 4px 5px #CCCCCC;
    -webkit-box-shadow: 4px 4px 5px #CCCCCC;
    box-shadow: 4px 4px 5px #CCCCCC;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#CCCCCC')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#CCCCCC');
}

.transparent {
    /* Required for IE 5, 6, 7 */
    /* ...or something to trigger hasLayout, like zoom: 1; */
    width: 100%;
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=85);
    /* Older than Firefox 0.9 */
    -moz-opacity: 0.85;
    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.85;
    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.85;
}

button:hover,
input[type="submit"]:hover {
    cursor: pointer;
}

#auth {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #DDDDDD;
    font-size: 11px;
    text-shadow: 1px 1px 1px black;
    min-width: 200px;
}
#auth p {
    width: auto;
    text-align: right;
    line-height: 16px;
    font-size: 13px;
}
#auth ul {
    float: right;
    margin-right: 21px;
}
#auth ul li {
    display: inline;
}
#auth ul li a {
    margin-left: 10px;
    height: 16px;
    color: #DDDDDD;
    display: block;
    padding-top: 1px;
    float: left;
/*     text-decoration: underline; */
    border-bottom: 1px dashed #999;
}
#auth ul li a:hover {
    text-decoration: none;
}
/*#auth ul li a#logout {
    padding-right: 24px;
    background: transparent url('/static/css/img/logout16.png?b73cc9bca2df') no-repeat 100% 0;
}*/
#auth a#logout {
    width: 16px;
    height: 16px;
    display: block;
    float: right;
    margin-left: 5px;
    background: transparent url('../../css/img/logout16.png%3Fb73cc9bca2df') no-repeat 0 0;
}
#auth a#logout span {
    display: none;
}

#sidebar-container {
    float: right;
    margin: 0 0 25px 50px;
    width: 275px;
}
#sidebar-container p {
    margin-bottom: 0;
}
#sidebar {
    border: 1px solid green;
    font-size: 14px;
    border: 1px solid #CCCCCC;
    line-height: 1.5em;
    padding: 10px 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background: #FFCC99;
}
#sidebar ul {
    margin: 0;
    list-style-type: none;
}
#sidebar ul li {
    background-image: url('../../css/img/bullet.gif%3Fb73cc9bca2df');
    background-repeat: no-repeat;
    background-position: 0 6px;
    padding-left: 18px;
    height: 1%;
}
#sidebar ul li a,
#sidebar ul li.nav-current ul li a {
    color: #663300;
}
#sidebar ul li.nav-current {
    background-image: url('../../css/img/bullet-current.gif%3Fb73cc9bca2df');
}
#sidebar ul li.nav-current a {
    color: #003366;
}

#sidebar-sub {
    font-size: 11px;
    margin: 5px 0 0 20px;
}

/*******************************************************************************
  Pages
*******************************************************************************/

/* Page Index
----------------------------------------------------------------------------- */

body#page-index #sidebar {
    background: #FFCC99 url('../../css/img/tgz.png%3Fb73cc9bca2df') no-repeat 95% 5px;
    height: 40px;
}

body#page-index #slideshow-container {
    margin: 20px 0 20px 0;
    clear: right;
    height: 1%;
}
body#page-index #slideshow-container #slideshow-text {
    margin: 0 70px 0 0;
    float: left;
    width: 255px;
}
body#page-index #slideshow-container #slideshow-text ul {
    margin: 0 25px 15px 25px;
}
body#page-index #slideshow-container #slideshow-wrap {
    float: right;
    width: 640px;
    height: 360px;
    overflow: hidden;
    border: 1px solid #CCCCCC;
    margin: 5px 0 10px 0;
    position: relative;
}

a.control {
    display: block;
    cursor: pointer;
}
a.control span {
    display: none;
}
body#page-index #slideshow-wrap a.slideshow-control {
    position: absolute;
    width: 63px;
    height: 32px;
    z-index: 9;
    display: none;
    top: 15px;
}
body#page-index #slideshow-wrap a#slideshow-next {
    background: transparent url('../../css/img/ctrl-slideshow-next.gif%3Fb5a4f4541540') no-repeat;
    left: 577px;
}
body#page-index #slideshow-wrap a#slideshow-prev {
    background: transparent url('../../css/img/ctrl-slideshow-prev.gif%3Fb5a4f4541540') no-repeat;
    left: 0;
}

body#page-index #metabar #activity-feed .h2-container {
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 15px;
}
body#page-index #metabar #activity-feed .h2-container h2 {
    margin-bottom: 0;
    float: left;
    border-bottom: none;
}
body#page-index #metabar #activity-feed .h2-container a {
    display: block;
    height: 24px;
    margin-top: 3px;
    background: url('../../css/img/feed16-gray.png%3Fb73cc9bca2df') no-repeat 100% 50%;
    float: right;
    font-size: 11px;
    padding-right: 21px;
    vertical-align: top;
}
body#page-index #metabar #activity-feed-viewport ul {
    font-size: 12px;
    line-height: 1.5em;
}
body#page-index #metabar #activity-feed-viewport ul li {
    margin-bottom: 10px;
}
body#page-index #metabar #activity-feed p.more {
    margin-left: 30px;
}

/* Page Get Krusader
----------------------------------------------------------------------------- */

body#page-get-krusader div#branches {
    margin-bottom: 15px;
}
body#page-get-krusader div#branches div.branch {
    height: 90px;
}
body#page-get-krusader div#branches div.branch .download-button {
    float: left;
}
body#page-get-krusader div#branches div.branch .download-button {
    width: 280px;
    margin-left: -5px;
}    
body#page-get-krusader div#branches div.branch .release-desc {
    float: left;
    padding-top: 11px;
    line-height: 1.4em;
    font-size: 14px;
    min-width: 280px;
    max-width: 800px;
    min-height: 60px;
}
body#page-get-krusader div#branches div.branch .release-meta {
    margin-top: 5px;
    margin-left: 70px;
    font-size: 11px;
    line-height: 1em;
}
body#page-get-krusader div.button {
    margin: 0 10px 0 0;
    height: 50px;
    border: 1px solid white;
    padding: 3px;
    width: 260px;
}
body#page-get-krusader div.button:hover {
    border: 1px dashed #ccc;
}
body#page-get-krusader div.button-inner {
    height: 48px;
    border: 1px solid #CCCCCC;
    background: transparent url('../../css/img/bgi48.png%3Fb73cc9bca2df') repeat-x 0 0;
    /*font-weight: bold;*/
    color:#808080;
    /*text-shadow: #fff 0px 1px 0, #000 0 -1px 0;*/
    /*text-shadow: 1px 1px 1px #AAA;*/
}
body#page-get-krusader div.button-inner a {
    height: 29px;
    width: 200px;
    display: block;
    padding: 8px 0 10px 65px;
    font-size: 12px;
    line-height: 16px;
    color: #666666;
}
body#page-get-krusader div.button-inner a.stable {
    background: transparent url('../../css/img/dlstable.png%3Fb73cc9bca2df') no-repeat 12px 8px;
}
body#page-get-krusader div.button-inner a.devel {
    background: transparent url('../../css/img/dldevel.png%3Fb73cc9bca2df') no-repeat 12px 8px;
}
body#page-get-krusader div.button-inner a:hover {
    text-decoration: none;
}
body#page-get-krusader div.button-inner a span.release {
    font-size: 11px;
    font-weight: normal;
}

/* Page 404
----------------------------------------------------------------------------- */

body#page-404 #sidebar-container {
    display: none;    
}

/* ---------------------------- Lightbox --------------------------------- */

#jquery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 500px;
    background-color:#000000;
}
#jquery-lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
    position: absolute;
    top: 40%;
    left: 0%;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}
#lightbox-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
    width: 49%;
    height: 100%;
    zoom: 1;
    display: block;
}
#lightbox-nav-btnPrev {
    left: 0;
    float: left;
}
#lightbox-nav-btnNext {
    right: 0;
    float: right;
}
#lightbox-container-image-data-box {
    font: 10px Verdana, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0 auto;
    line-height: 1.4em;
    overflow: auto;
    width: 100%;
    padding: 0 10px 0;
}
#lightbox-container-image-data {
    padding: 0 10px;
    color: #666;
}
#lightbox-container-image-data #lightbox-image-details {
    width: 70%;
    float: left;
    text-align: left;
}
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
    display: block;
    clear: left;
    padding-bottom: 1.0em;
}
#lightbox-secNav-btnClose {
    width: 66px;
    float: right;
    padding-bottom: 0.7em;
}
